.list-header{
    background: #f7f7f7;
    border:1px solid darken(#f7f7f7, 7%);
    color:$grey;
    display: flex;
    justify-content:space-between;
    padding:$s-size $m-size;
}
.list-body{
    margin-bottom: $m-size;
    @media (min-width:$desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}
.list-item h3{
    margin-top: 0px;
}

.list-item .pr_add{
    margin-top: 10px;
}
.list-item{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    border:1px solid darken(#f7f7f7, 7%);
    border-top:none;
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
        background: #f7f7f7; 
    }
    .pr_name { order: 1; }
    .pr_price { order:2 }
    .pr_pic { order: 3; }
    .pr_qun { order: 4 }
    .pr_add { order: 5 }
    
   
    @media (min-width:$desktop-breakpoint) {
        flex-direction: row;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding:$m-size;
        
        .pr_add { order: initial }
        .pr_name { order: initial; }
        .pr_price { order:initial }
        .pr_pic { order: initial; }
        .pr_qun { order: initial }
    }
    img{
        width: 150px;
    }
    .list-item .pr_add{
        margin-top: initial;
    }
}

.list-item__title{
    margin: 0;
    word-break: break-all;
}
.list-item h3{
    margin-top: initial;
}
.list-item__sub-title{
    color:$grey;
    font-size:1.4rem;    
}

.list-item__data{
    margin: $s-size 0 0 0 ;
    @media (min-width:$desktop-breakpoint) {
       margin:0;
        padding:$s-size;
    }
}

.list-item__msg{
    align-items: center;
    justify-content: center;
    color:$grey;
    padding: $m-size;
    &:hover{
        background: none;
    }
}